@import './Theme.scss';
html,
body,
#app {
  height: 100%;
}

h1 {
  margin: 0;
}

#appContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10rem  ;
  &.has-border {
    border: var(--app-border-color);
  }
}
